################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/appInsperity/bin
/appInsperity/obj
/appInsperityTests/bin
/appInsperityTests/obj
/bin/
/obj